<html>
<title>Apache Logs</title>
<body>
  <h1>Apache Logs</h1>
  <table>
    <tr>
      <td width="60%">
        <h2>Results</h2>
        <a href="/v1/logs/?format=xlsx{% for key, value in request.GET.items %}{% ifnotequal key 'limit' %}{% ifnotequal key 'format' %}&{{key}}={{value}}{% endifnotequal %}{% endifnotequal %}{% endfor %}">
          Download XLSX
        </a>
        <table border="1">
        <tr>
          <td>IP</td>
          <td>Datetime</td>
          <td>Method</td>
          <td>URI</td>
          <td>Code</td>
          <td>Size, B</td>
        </tr>
        {% for result in results %}
          <tr>
            {% for key, value in result.items %}
              {% if key != 'id' %}
                <td>{{ value }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </td>
      <td style="width: 40%">
        <h2>Meta</h2>
        <dl>
        {% for key, value in meta.items %}
          {% if key == 'top_ten' %}
            <ul>Top Ten IPs</ul>
            <ul>
              {% for ip, count in value %}
              <ul>{{ ip }} : {{ count }}</ul>
              {% endfor %}
            </ul>
          {% else %}
            <ul>{{ key }}: {{ value }}</ul>
          {% endif %}
        {% endfor %}
        </dl>
      </td>
    </tr>
  </table>

</body>
</html>
